html {
    height: 100%;
}

body {
    background-image: url(../images/background.png);
    font-family: 'Press Start 2P', cursive;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    overflow-y: hidden;
    margin:0; 
    padding:0;
}

start {
    font-size:3em;
    cursor: pointer;
    margin: auto;
    position: absolute;
    text-align: center;
    height: 50px;
    width: 250px;
    margin-top:calc(50vh - 25px);
    margin-left:calc(50vw - 125px);
}

retry {
    font-size:3em;
    cursor: pointer;
    margin: auto;
    position: absolute;
    text-align: center;
    height: 50px;
    width: 250px;
    margin-top:calc(50vh - 25px);
    margin-left:calc(50vw - 125px);
}

wall {
    position: absolute;
    display:block;
    bottom: 0;
    width: 100%;
    height: 71px;
    background-repeat: repeat-x;
    background-image: url(../images/wall.png);
    z-index: 2;
}

disk {
    position: absolute;
    display:block;
    width:75px;
    height:75px;
    background-image: url(../images/disk.gif);
    z-index: 1;
}

disk2x {
    position: absolute;
    display:block;
    width:85px;
    height:85px;
    background-image: url(../images/disk2x.gif);
    z-index: 1;
}

bird-right {
    position: absolute;
    display:block;
    width:150px;
    height:103px;
    background-image: url(../images/birdright.gif);
    z-index: 3;
}

bird-left {
    position: absolute;
    display:block;
    width:150px;
    height:103px;
    background-image: url(../images/birdleft.gif);
    z-index: 3;
}

ufo {
    position: absolute;
    display:block;
    width:125px;
    height:76px;
    background-image: url(../images/ufo.png);
    z-index: 3;
}

hit {
    position: absolute;
    display:block;
    width:85px;
    height:83px;
    background-image: url(../images/flattire.png);
}

score {
    margin:10px;
    width:100%; height:100px;
    position: absolute;
    left:0px;
    font-size: 2em;
    line-height: 1.2em;
    color:black;
    z-index: 4;
}

endscore {
    position: absolute;
    font-size: 2em;
    line-height: 1.2em;
    color:black;
    margin: auto;
    position: absolute;
    text-align: center;
    height: 50px;
    width: 300px;
    margin-top:calc(calc(50vh + 75px) - 25px);
    margin-left:calc(50vw - 150px);
}

lives {
    margin:10px;
    width:100%; height:100px;
    position: absolute;
    right:0px;
    font-size: 2em;
    line-height: 1.2em;
    color:black;
    text-align: right;
    z-index: 4;
}

cleardisks {
    margin:10px 10px 10px calc(50% - 185px);
    width:180px; height:40px;
    cursor: pointer;
    position: absolute;
    left:0px;
    font-size: 1em;
    line-height: 1.2em;
    color:black;
    text-align: right;
    z-index: 4;
}

clearbirds {
    margin:10px 10px 10px calc(50% + 5px);
    width:176px; height:40px;
    cursor: pointer;
    position: absolute;
    left:0px;
    font-size: 1em;
    line-height: 1.2em;
    color:black;
    z-index: 4;
}

cleardisks:hover {
    font-size: 1.1em;
    border: 1px solid red;
}
clearbirds:hover {
    font-size: 1.1em;
    border: 1px solid red;
}